<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="d-flex justify-content-center" style="margin-top: 30px;">
  <div action="/aws_give_access/" class="card" style="width: 500px;" >
   <div class="card-body">
    {% load crispy_forms_tags %}
    {% block content %}
    <form method="post" id="resetform">
      <p class="h4 text-center py-4">AWS Access Form</p>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="reset" class="btn btn-danger">Reset</button>
      <button type="submit" class="btn btn-success" value="Submit" style="float: right;">Submit</button>
    </form>
    {% endblock %}
   </div>
  </div>
</body>
</html>
