<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
</head>
<body class="d-flex justify-content-center" style="margin-top: 30px;">
  <div class= "animated fadeIn">
  <div action="/aws_give_access/" class="card" style="width: 800px;" >
   <div class="card-body">
      <p class="h4 text-center py-4">Confirmation Response</p>
      <center><b>{{ message }}</b>
      </br></br>
      <button class="btn btn-primary" onclick="goBack()">Back</button>
      </center> 
   </div>
  </div>
  </div>
<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>


